#app,
#start,
#game-wrapper {
	height: 100vh;
	width: 100vw;
}
    
    
body {
    background-color: red;
        
}
    
.hide {
    display: none !important;
}
    
#start {
    display: flex;
    align-items: center;
}

#startGame {
    border-radius: 20px;
}
    
#username-form {
    margin: 0 auto;
    text-align: center;
}
    
#game-wrapper {
    display: flex;
}
    
#game {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-right: 1px solid #555;
}
    
#game h2 {
    background-color: black;
    padding: 0.5rem 0.75rem;
    color: white;
    text-align: center;
}
    
#users {
    flex-basis: 20%;
}
    
#users h2 {
    background-color: black;
    padding: 0.5rem 0.75rem;
    color: white;
    text-align: center;
}

#users ul {
	margin: 0;
	padding: 0.5rem 0.75rem;
	list-style: none;
}

.container {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px 75px 75px 75px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: 100vh;
        
}

.scoreboard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: black;
    color: white;

}

#virus-icon {
    width: 45px;
    height: 45px;
    margin: auto;
}